.top-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: rgb(0, 0, 0);



    .cadastro-loja{
        height: 30px;
        width: 130px;
        border-radius: 4px;
        border: none;
        color: var(--bg-princi);
        background-color: var(--green);
        cursor: pointer;
    
    }
    

    .searchbar{
        display: flex;
        align-items: center;
        height: 50px;
        width: 600px;
        padding-right: 100px;
        
        
        
        .search-txt{
            height: 30px;
            width: 500px;
            color: black;
            border: solid 1px black;
            border-radius: 8px;
            background-color: white;
            padding-left: 450px;
        
        
        
        
        }
        }
        
        .botões{

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            width: 100px;

            .botaohome{
                height: 30px;
                width: 30px;
                background-color: black;
                border: none;
                cursor: pointer;
                
                img{
                height: 30px;
                width: 30px;
                
                }
                
                
                }
                
                
            .botaoagenda{
        
                height: 30px;
                width: 30px;
                cursor: pointer;
        
            
            }


        }
        
       
    
}




.histagendamentos{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding-top: 50px ;
height: 600px;
width: 100%;
border: solid 1px black;





.agendamentos{

    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    .left-agenda{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 80%;
        border: solid 1px black;



        .hist-1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 200px;
            width: 90%;
            border: none;
            border-radius: 8px;
            box-shadow: 1px 1px 1px 2px lightgray;


            .procedimento{
                height: 100px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

            }
            .data{

                height: 100px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .horario{
                height: 100px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

            }


            .estabelecimento{

                height: 100px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

            }

            .status{

                 height: 120px;
                 width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;


               .trash{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                height: 200px;
                width: 20px;
                background-color:  white;
                border: none;
               

                img{

                    height: 50px;
                    width: 70px;
                    border-bottom: solid 1px black;
                    cursor: pointer;
                }

               }
               .status-loja{
                display: flex;
                flex-direction: column;
                align-items: center;
  
                height: 70px;
                width: 20px;
                background-color:  white;
                border: none;

                p{
                    height: 50px;
                    padding-top: 50px;
                    border-bottom: solid 2px black;
                    color: yellow;
                }


               }


            }

        }
    
       
        
    
    
    }
    
    


    .right-agenda{
        height: 500px ;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    
        
    .relogio{
        height: 100px;
        width: 100px;
    
    }
    
    }


}



}