<nav class="top-nav">

    

        <button class="cadastro-loja">Cadastrar Loja</button>
        <label for="cadastro-loja"></label>

   <div class="searchbar">
    <input class="search-txt"  type="image" src="../../../assets/Vector.svg" placeholder="" >
    
   </div>
        
<div class="botões">

    <button class="botaohome">
        <img src=" ../../../assets/homesearchbar.png" alt="botao para o inicio">
       </button>
       <input class="botaoagenda" type="image" src="../../../assets/carbon_calendar.png">

</div>
   
        

</nav>



<div class="histagendamentos">

    <div class="texto-princi">

        <h1>Seus agendamentos</h1>
    </div>

    <div class="agendamentos">




    </div>


    
    
    <img class="relogio" src="../../../assets/relogioagenda.png">




</div>