.top-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: rgb(0, 0, 0);

  .cadastro-loja {
    height: 50px;
    width: 130px;
    border-radius: 4px;
    border: none;
    color: var(--bg-princi);
    font-family: var(--third-font);
    font-size: 1rem;
    background-color: var(--green);
    cursor: pointer;
  }

  .searchbar {
    display: flex;
    align-items: center;
    height: 50px;
    width: 600px;
    padding-right: 100px;

    .search-txt {
      height: 30px;
      width: 500px;
      color: black;
      border: solid 1px black;
      border-radius: 8px;
      background-color: white;
      padding-left: 450px;
    }
  }

  .botões {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100px;

    .botaohome {
      height: 30px;
      width: 30px;
      background-color: black;
      border: none;
      transition: 0.3s ease;

      img {
        height: 30px;
        width: 30px;
      }
    }

    .botaohome:hover{
      cursor: pointer;
    }

    .botaohome:active{
      transform: scale(1.05);
    }


    .botaoagenda {
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
  }
}

h1 {
  display: flex;
  align-items: center;
  padding: 50px;
  padding-left: 400px;
}

.agendamentos {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 100%;
  border: none;

  .left-agenda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;

    .hist {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      margin-bottom: 30px;
      height: 100px;
      width: 95%;

      border: none;
      border-radius: 10px;
      box-shadow: 3px 1px 3px 2px lightgray;

      .procedimento {
        width: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: var(--fourth-font) ;

      }
      .data {
        height: 100px;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: var(--fourth-font) ;
      }

      .horario {
        height: 100px;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: var(--fourth-font) ;
      }

      .estabelecimento {
        height: 110px;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: var(--fourth-font) ;
      }
    }
    .status-loja {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 20px;
      width: 50px;
      background-color: white;

      p {
        height: 50px;
        padding-top: 50px;
        border-bottom: solid 2px black;
        color: yellow;
        font-family: var(--fourth-font) ;
      }
    }
  }
}

.right-agenda {
  // height: 500px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  .relogio {
    height: 100px;
    width: 100px;
  }
}
