//////////aaaaaaaaaaaaaaaa teeeeeeesssssssstttttteeeeee
nav {
  height: 100px;
  width: 100%;
  background-color: var(--bg-princi);

  .back {
    border: none;
    background-color: var(--bg-princi);
    padding-left: 20px;
    font-family: var(--third-font);
    font-size: var(--third-font-size);
    cursor: pointer;
  }
}

.login-principal {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-princi);

  .login {
    height: max-content;
    width: calc(40% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .input {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      gap: 10px;
      
      

      label {
        padding-left: 10px;
      }

      .form-control {
        padding: 10px;
        padding-right: 100px;
        width: 100%;
        border-radius: 4px;
        border-color: lightgray;
        box-shadow: 0 4px 4px 0 #0000003b

      }
    }

    .esqueci-a-senha {
      padding-top: 5px;
      padding-left: 20px;
      background-color: var(--bg-princi);
      border: none;
      font-family: var(--fourth-font);
      font-size: 14px;
      cursor: pointer;
    }

    .bottom-login {
      height: max-content;
      width: max-content;
      margin-top: 20px;
      gap: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn-login {
        height: max-content;
        width: 390px;
        padding: 10px;
        border-radius: 4px;
        border-style: hidden;
        background-color: var(--green);
        color: var(--bg-princi);
        font-family: var(--second-font);
        font-size: var(--largebutton-font-size);
        cursor: pointer;
      }
      .btn-cadastrar {
        height: max-content;
        width: 390px;
        padding: 10px;
        border-radius: 4px;
        border-color: #3488ec;
        color: #3488ec;
        background-color: var(--bg-princi);
        font-family: var(--second-font);
        font-size: var(--largebutton-font-size);
        cursor: pointer;
      }
    }
  }
  .textos-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 50%;


    .textos-help {
      display: flex;
      height: max-content;
      width: 90%;

      .txt-black{
        width: max-content;
        font-family: var(--second-font);
        font-size: var(--second-font-size);
        .txt-white{
          color: var(--black);
          font-family: var(--fourth-font);
          -webkit-text-fill-color: #ffff;
          -webkit-text-stroke: 2px #000;
        }
      }
    }

    .icon {
      height: max-content;
      width: 70%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      

    
      }
    }
  }