<nav>
    <button class="back">Voltar</button>
</nav>

<div class="login-principal">
    <div class="login">
        <form>
            <div class="input">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="">
            
            </div>
            <div class="input">
                <label for="senha">Senha</label>
                <input type="senha" class="form-control" placeholder="">
            </div>
            <button class="esqueci-a-senha">Esqueci a minha Senha</button>
            <div class="bottom-login">
                <button class="btn btn-login">Entrar</button>
                <button class="btn btn-cadastrar">Criar conta</button>
            </div>
            
        </form>
    </div>



<div class="textos-img">
    <div class="textos-help">
        <h2>Tire os espaços em Branco da sua agenda</h2>

    </div>
    
    <div class="icon">
        <img class="megafone" src=" ../../../assets/nimbus_marketing.svg" alt="megafone">

        <div class="icons">
            <img class="flash-1"  src="../../../assets/typcn_flash.svg" alt="raiotopo">
            <img class="flash-2"  src="../../../assets/typcn_flash.svg" alt="raiomeio">
            <img class="flash-3"  src="../../../assets/typcn_flash.svg" alt="raiobaixo">
        </div>
    </div>
</div>

</div>

