
<div class="modal-header">
  <div class="botao">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <h4 class="modal-title" id="modal-basic-title"  (click)="passBack()">Antes de confirmar </h4>
  <h6 class="modal-title2" id="modal-basic-title"  (click)="passBack()">nos informe seu número e seu nome</h6>
</div>
<div class="modal-body">
  <div class="bloco1">
    <input type="text">
    <label for="inputText">Nome</label>
    <div class="parte1">
     <input type="text" id="inputText"  placeholder="">
    </div>
  <label for="inputText">Número</label>
  <div class="parte2">
   <input type="text" id="inputText"  placeholder="">
  </div>
  </div>
  <div class="bloco2">
    <button class="btn btn-confirmar">Confirmar</button>
  
  
</div>
