<div class="top">
  <button class="btn-cad">Cadastrar loja</button>
  <div class="search-bar">
    <input class="insert" type="text" placeholder="Procure a loja desejada" />
    <img class="lupa" src="../../../assets/Vector.svg" alt="lupa" />
  </div>
  <div class="home">
    <img src="../../../assets/home.svg" alt="home" />
    <img src="../../../assets/calendar.svg" alt="calendario" />
  </div>
</div>
<div class="content">
  <h1 class="agende">Agende quando quiser, de onde estiver!</h1>
  <div class="cats">
    <img class="cat-img" src="../../../assets/unhas.svg" alt="Unhas" />
    <img class="cat-img" src="../../../assets/barbearia.svg" alt="Barbearia" />
    <img class="cat-img" src="../../../assets/maquiagem.svg" alt="Maquiagem" />
    <img
      class="cat-img"
      src="../../../assets/salao de beleza.svg"
      alt="Salão de Beleza"
    />
  </div>
  <div class="estabs">
    <h3 class="es">Estabelecimentos</h3>
  </div>
  <div class="cards">
    <div class="card-shop">
      <div class="parte1">
        <!-- <div class="bruno"> -->
          <img
            class="fachada"
            src="https://scontent.fmii2-2.fna.fbcdn.net/v/t1.6435-9/89307165_2580692872200404_7671234060819103744_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=dB8mz2hbhK4Q7kNvgGSyED-&_nc_oc=AdhGToMeIikGB3qrZQm-aiqe082fTMl4Tm7y8sXPhMLs1DfLHwOlZDnaBd8Cqi6wHJpXI23NHl2j_r2lWVbBtkjR&_nc_ht=scontent.fmii2-2.fna&oh=00_AYCNrRcjgIVSQoU2DR_tQnw2gOoDK8Sww4UOLwvUCNw4kA&oe=666AB1CE"
            alt="Fachada"
          />
        <!-- </div> -->
      </div>
      <div class="parte2"></div>
      <div class="parte3"></div>
    </div>
  </div>
</div>
