<!-- para commitar -->

<div class="top">
  <button class="btn-cad" routerLink="/cadastroprop">Cadastrar loja</button>
  <div class="search-bar">
    <input class="insert" type="text" placeholder="Procure a loja desejada" />
    <img class="lupa" src="../../../assets/Vector.svg" alt="lupa" />
  </div>
  <div class="home">
    <img src="../../../assets/home.svg" alt="home" />
    <img class="calendario" src="../../../assets/calendar.svg" alt="calendario" routerLink="/histAgenda" />
  </div>
</div>
<div class="content">
  <h1 class="agende">Agende quando quiser, de onde estiver!</h1>
  <div class="cats">
    <img class="cat-img" src="../../../assets/unhas.svg" alt="Unhas" />
    <img class="cat-img" src="../../../assets/barbearia.svg" alt="Barbearia" />
    <img class="cat-img" src="../../../assets/maquiagem.svg" alt="Maquiagem" />
    <img
      class="cat-img"
      src="../../../assets/salao de beleza.svg"
      alt="Salão de Beleza"
    />
  </div>
  <div class="estabs">
    <h3 class="es">Estabelecimentos</h3>
  </div>
  <div class="cards">
    <div class="card-shop" *ngFor="let loja of cards ">
      <div class="parte1">
        <!-- <div class="bruno"> -->
          <img
            class="fachada"
            src="https://picsum.photos/200"
            alt="Fachada"
          />
        <!-- </div> -->
      </div>
      <div class="parte2">
        <div class="nome">
          <p class="nome-shop"></p>
        </div>
        <div class="ender">
          <p class="title-end">Endereço:</p>
          <p class="end-shop"></p>
        </div>
      </div>
      <div class="parte3">
        <p class="status"></p>
        <p class="tipo"></p>
      </div>
    </div>
  </div>
</div>

<!-- apenas para commitar -->
