<div class="container-1">
  <div class="topo">
    <button class="Voltar" routerLink="/home">Voltar</button>

    <div class="topo-meio">
      <h2 class="title">Barberaria da Mari</h2>
      <div class="infos-top">
        <div class="infos-dh">
          <p class="day">Seg - Sex</p>
          <p class="hr">08:00 - 22:00</p>
        </div>
        <p class="status">ABERTO</p>
      </div>
    </div>
    <div class="perfil-barbeiro">
      <img src="../../../assets/Barbearia Mari.png" alt="fotoBarbeiro" />
      <div class="topedit">
        <button class="editpht">
          <img src=" ../../../assets/Lapiseditar.svg" alt="botãoditarfoto" />
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-2">

    <div class="left">
      <div class="barbearia">
        <img src="../../../assets/Barbearia.png" alt="fotoBarbearia" />
        <div class="editrem">
          <img src="../../../assets/remover.svg" alt="botaoremover" />
        </div>
        </div>
      <div class="serviços">
        <div class="cards-left">
          <h1>Serviços</h1>
          <div class="card" *ngFor="let service of services; let i = index">
            <div [ngClass]="'card-service-' + (i + 1)">
              <p class="categs">Serviços</p>
              <h2 class="specs">{{ service.name }}</h2>
            </div>
            <div [ngClass]="'card-time-' + (i + 1)">
              <p class="categs">Tempo</p>
              <p class="values">{{ service.time }}</p>
            </div>
            <div [ngClass]="'card-price-' + (i + 1)">
              <p class="categs">Preço</p>
              <p class="values">{{ service.price }}</p>
            </div>
            <div [ngClass]="'editrem' + (i + 1)">
              <img src="../../../assets/remover.svg" alt="botaoremover" />
              <div class="editcard">
                <img
                  src=" ../../../assets/Lapiseditar.svg"
                  alt="botãoditarfoto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="infos-fotos">
        <div class="ferramentas">
          <img src="../../../assets/Ferramentas.png" alt="ferramentas" />
          <div class="editrem">
            <img src="../../../assets/remover.svg" alt="botaoremover" />
          </div>
        </div>
        <div class="corte">
          <img src="../../../assets/Corte.png" alt="corte" />
          <div class="editrem">
            <img src="../../../assets/remover.svg" alt="botaoremover" />
          </div>
        </div>
        <div class="espelhos">
          <img src="../../../assets/Espelhos.png" alt="espelhos" />
          <div class="editrem">
            <img src="../../../assets/remover.svg" alt="botaoremover" />
          </div>
        </div>

        <div class="buttonfotos">
          <button class="addfotos">
            <img src=" ../../../assets/addbutton.svg" alt="" />
          </button>
          <p>Adicionar Fotos</p>
        </div>
      </div>
      <div class="info-textos">
        <p>Localização</p>

        <h2>Rua João Aquiles Pinto</h2>
      </div>
      <div class="buttonservicos">
        <button class="addservicos">
          <img src=" ../../../assets/addbutton.svg" alt="" />
        </button>
        <p>Adicionar Serviços</p>
      </div>
    </div>
  </div>

