<div class="container-1">
<div class="topo">
  <div class="backbutton">
    <button class="Voltar" routerLink="/home">Voltar</button>
  </div>
    <div class="topo-meio">
      <h2 class="title">Barbearia da Maria</h2>
      <div class="info-data">
        <div class="data">
          <span>SEG - SEX</span>
        </div>
  
        <div class="horario">
          <span>08:00 - 22:00</span>
        </div>
      </div>
      <div class="barb-aberto">
        <div class="Aberto">
          <label for="Aberto">Aberto</label>
        </div>
      </div>
    </div>
    <div class="perfil-barbeiro">
      <img src="../../../assets/Barbearia Mari.png" alt="fotoBarbeiro" />
      <div class="topedit">
        <button class="editpht" > 
          <img src=" ../../../assets/Lapiseditar.svg" alt="botãoditarfoto">
        </button>
      </div>
    
    </div>
  </div>
</div>