.topo {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
    height: 35vh;
    width: calc(100% + 5px);
    border: solid 1px #000000;
    background-color: var(--black);

    .Voltar{
        width: 1px;
        padding-bottom: 192px;
        padding-left: 30px;
        background-color: var(--black);
        font-style: var(--second-font);
        color: var(--bg-princi);
        border: none;
        outline: none;
        cursor: pointer;

    }
   

    .perfil-barbeiro {
           border:none;
           border-radius: 50%;
           padding: 3px;
           padding-right: 10%;
           outline: none ;
           width: 200px;
           height: 200px;
           display: flex;
        
        //    align-items: right; /* Centraliza verticalmente a imagem */
        //    padding-right: 10px; /* Espaçamento à direita para a imagem */

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
   
       }
      

    .topo-meio{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: none;
        padding-bottom: 225px;
        column-gap: 1px;
        padding-left: 15%;
        


        .title{
            color: var(--bg-princi);
            font-size: var(--principal-font-size);
             padding-bottom: 40px;
             padding-right: 20px;
           
            
        }
        .Aberto{
            
            height: 100px;
            width: 250px;
            text-align: center;
            font-size: var(--largebutton-font-size);
            color: var(--bg-princi);
            padding: 5px;
            border: solid 20px black;
            border-radius: 8px;
            border-width: 1px;
            background-color: var(--green);
            
        }
    }

}


   

.infos{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 48vh;
    width: calc(100vw - 43px);
    border: solid 1px #ff0000;
    padding: 8px;

    .left{
        height: 75%;
        width: 40%;
        border: solid 1px yellow;
        border-radius: 2rem;


        
    .barbearia {
        border:none;
        padding: 3px;
        padding-right: 10%;
        outline: none ;
        width: 100%;
        height: 100%;
        display: flex;


        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 24px;
        }



    }
}
    
    .right{

        height: 100%;
        width: 50%;
        border: solid 1px green;
        



        .infos-fotos{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 210px;
            width: 100%;
            border:none;
           


            .ferramentas{
                border:none;
                padding: 10px;
                outline: none ;
                width: 150px;
                height: 100px;
        
            }
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }

                .corte{
                    border:none;
                    padding: 10px;
                    outline: none ;
                    width: 150px;
                    height: 100px;
              
            
                }
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 1rem;
                    }

                    .espelhos{
                        border:none;
                        padding: 10px;
                        outline: none ;
                        width: 150px;
                        height: 100px;
                     
                
                    }
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 1rem;
                        }


        }


.h2{


    
}

    }
    
}



.serviços{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 15px);
    padding: 10px;
    padding-bottom: 200px;
    align-items: center;
    border: solid 1px black;
    





}