<div class="topo">
  
  <button class="Voltar" routerLink="/home">Voltar</button>

    <div class="topo-meio">
      <h2 class="title">Barberaria da Mari</h2>
      <div class="infos-top">
        <div class="infos-dh">
          <p class="day">Seg - Sex</p>
          <p class="hr">08:00 - 22:00</p>
        </div>
        <p class="status">
          ABERTO
        </p>
      </div>
    </div>
    <div class="perfil-barbeiro">
      <img src="../../../assets/Barbearia Mari.png" alt="fotoBarbeiro" />
    </div>
  </div>
  <div class="infos">
    <div class="left">
      <div class="barbearia">
        <img src="../../../assets/Barbearia.png" alt="fotoBarbearia" />
      </div>
    </div>
    <div class="right">
      <div class="infos-fotos">
        <div class="ferramentas">
          <img src="../../../assets/Ferramentas.png" alt="ferramentas" />
        </div>

        <div class="corte">
          <img src="../../../assets/Corte.png" alt="corte" />
        </div>

        <div class="espelhos">
          <img src="../../../assets/Espelhos.png" alt="espelhos" />
        </div>
      </div>

      <div class="info-textos">
        <p>Localização</p>

        <h2>Rua João Aquiles Pinto</h2>
      </div>
    </div>
  </div>

<div class="serviços">
  <div class="cards-left">
    <h1>Serviços</h1>
    <div class="card-1">
      <div class="card-service-1">
        <p class="categs">Serviços</p>
        <h2 class="specs">Corte degrade</h2>
      </div>
      <div class="card-time-1">
        <p class="categs">Tempo</p>
        <p class="values">01:00</p>
      </div>
      <div class="card-price-1">
        <p class="categs">Preço</p>
        <p class="values">30,00</p>
      </div>
    </div>
    <div class="card-2">
      <div class="card-service-2">
        <p class="categs">Serviços</p>
        <h2 class="specs">Corte degrade</h2>
      </div>
      <div class="card-time-2">
        <p class="categs">Tempo</p>
        <p class="values">01:00</p>
      </div>
      <div class="card-price-2">
        <p class="categs">Preço</p>
        <p class="values">30,00</p>
      </div>
    </div>
  </div>

  <div class="cards-right">
    <div class="card-3">
      <div class="card-service-3">
        <p class="categs">Serviços</p>
        <h2 class="specs">Corte degrade</h2>
      </div>
      <div class="card-time-3">
        <p class="categs">Tempo</p>
        <p class="values">01:00</p>
      </div>
      <div class="card-price-3">
        <p class="categs">Preço</p>
        <p class="values">30,00</p>
      </div>
    </div>
    <div class="card-4">
      <div class="card-service-4">
        <p class="categs">Serviços</p>
        <h2 class="specs">Barba</h2>
      </div>
      <div class="card-time-4">
        <p class="categs">Tempo</p>
        <p class="values">01:00</p>
      </div>
      <div class="card-price-4">
        <p class="categs">Preço</p>
        <p class="values">30,00</p>
      </div>
    </div>
  </div>
</div>
