
    <!-- <title>Agendamento</title>


    <div>
        <H2>Barberaria do JV</H2>
        <div class="input">
            <label for="Aberto">Aberto</label>
           

        <button type="button" class="btn btn-Voltar">Voltar</button>
        </div>
            
        
        
    
    </div>
    
    <div>
        <div>
        
        </div>
        <div>
    
    
        </div>
    </div>
     -->


<div class="topo">

    <H2 class="title">Barberaria do JV</H2>

    <div class="Aberto">
        <label for="Aberto">Aberto</label>


</div>
<div class="infos">
    <div class="left"></div>
    <div class="right"></div>
</div>