.topo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 37vh;
  width: calc(100% + 5px);
  border: solid 1px #000000;
  background-color: var(--black);

  .Voltar {
    width: 1px;
    padding-bottom: 192px;
    padding-left: 30px;
    background-color: var(--black);
    font-family: var(--third-font);
    color: var(--bg-princi);
    border: none;
    outline: none;
    cursor: pointer;
  }

  .perfil-barbeiro {
    border: none;
    border-radius: 50%;
    padding: 3px;
    padding-right: 10%;
    outline: none;
    width: 200px;
    height: 200px;
    display: flex;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .topo-meio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;

    .title {
      font-size: 5vh;
      font-family: var(--second-font);
      font-weight: 500;
      color: var(--bg-princi);
    }

    .infos-top {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: -webkit-fill-available;
      margin-top: 3rem;

      .infos-dh {
        display: flex;
        flex-direction: column;
        color: var(--bg-princi);
        font-family: var(--second-font);

        .day {
          font-size: 2.25vh;
          font-weight: 300;
        }

        .hr {
          font-size: 3.5vh;
        }
      }

      .status {
        color: var(--bg-princi);
        font-family: var(--second-font);
        border-radius: 0.5rem;
        padding: 2vh 2vw;
        background-color: var(--green);
      }
    }
  }
}

.container-2{

  .left {
    height: 90%;
    width: 40%;
    border-radius: 2rem;

    .barbearia {
      border: none;
      padding: 3px;
      padding-right: 10%;
      outline: none;
      width: 50%;
      height: 100%;
      display: flex;

      img {
        height: 30%;
        width: 30%;
        object-fit: cover;
        border-radius: 24px;
      }
    }
  }

  .right {
    height: 100%;
    width: 50%;

    .infos-fotos {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 230px;
      width: 450px;
      border: solid 1px white;
      border-radius: 16px;
      box-shadow: 1px 1px 1px 2px lightgray;
      background-color: white;

      .ferramentas {
        border: none;
        padding: 10px;
        outline: none;
        width: 150px;
        height: 100px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }

      .corte {
        border: none;
        padding: 10px;
        outline: none;
        width: 150px;
        height: 100px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }

      .espelhos {
        border: none;
        padding: 10px;
        outline: none;
        width: 150px;
        height: 100px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    .info-textos {
      height: 106px;
      width: 207px;
      padding-top: 24px;
      padding-bottom: 1px;

      p {
        font-family: var(--second-font);
        color: var(--gray);
      }

      h2 {
        font-family: var(--fourth-font);
        font-weight: 400;
      }
    }
  }


.serviços {
  display: flex;
  justify-content: space-between;
  height: 500px;
  width: calc(100% - 15px);
  padding: 10px;
  padding-bottom: 100px;

  h1 {
    font-family: var(--second-font);
    font-size: var(--second-font-size);
    font-weight: 600;
  }

  .cards-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    padding-top: 50px;
    padding-right: 20px;

    .categs {
      font-family: var(--second-font);
    }

    .specs {
      font-family: var(--fourth-font);
      font-weight: 400;
    }

    .values {
      font-family: var(--fourth-font);
      font-weight: 400;
    }

    .card-1 {
      height: 150px;
      width: 450px;
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 1px 1px 1px 2px lightgray;

      .card-service-1 {
        height: 100px;
        width: 1px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      .card-time-1 {
        height: 100px;
        width: 1px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 200px;
      }

      .card-price-1 {
        height: 100px;
        width: 1px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 200px;
      }
    }

    .card-2 {
      height: 150px;
      width: 450px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      padding: 20px;
      box-shadow: 1px 1px 1px 2px lightgray;
      padding: 20px;

      .card-service-2 {
        height: 100px;
        width: 1px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      .card-time-2 {
        height: 100px;
        width: 1px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 200px;
      }

      .card-price-2 {
        height: 100px;
        width: 1px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 200px;
      }
    }
  }

  .cards-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50%;
    padding-top: 100px;

    .categs {
      font-family: var(--second-font);
    }

    .specs {
      font-family: var(--fourth-font);
      font-weight: 400;
    }

    .values {
      font-family: var(--fourth-font);
      font-weight: 400;
    }

    .card-3 {
      height: 150px;
      width: 450px;
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 1px 1px 1px 2px lightgray;
      padding-top: 8px;

      .card-service-3 {
        height: 100px;
        width: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .card-time-3 {
        height: 100px;
        width: 1px;
        display: flex;
        flex-direction: column;
        padding-left: 150px;
        justify-content: space-between;
      }

      .card-price-3 {
        height: 100px;
        width: 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 150px;
      }
    }

    .card-4 {
      height: 150px;
      width: 450px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      padding: 20px;
      box-shadow: 1px 1px 1px 2px lightgray;

      .card-service-4 {
        height: 100px;
        width: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .card-price-4 {
        height: 100px;
        width: 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 150px;
      }
      .card-time-4 {
        height: 100px;
        width: 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 150px;
      }
    }
  }
}

}

  