<div class="topo">

    <button class="Voltar">Voltar</button>

    <div class="topo-meio">
        <H2 class="title">Barberaria do JV</H2>
        
        <div class="Aberto">
            <label for="Aberto">Aberto</label>
        </div>
        
    </div>
    <div class="perfil-barbeiro">
        <img src="../../../assets/Barbearia Mari.png" alt="fotoBarbeiro">
    </div>

</div>
<div class="infos">
    <div class="left">

        <div class="barbearia">
            <img src="../../../assets/Barbearia.png" alt="fotoBarbearia">
        </div>



    </div>
    <div class="right">

        <div class="infos-fotos">


            <div class="ferramentas">
                <img src="../../../assets/Ferramentas.png" alt="ferramentas">
            </div>

            <div class="corte">
                <img src="../../../assets/Corte.png" alt="corte">
            </div>


            <div class="espelhos">
                <img src="../../../assets/Espelhos.png" alt="espelhos">
            </div>



        </div>
        
        <p>Localização</p>

        <h2>Rua João Aquiles Pinto</h2>

        <p>SEG - SEX</p>

        <p>08:00 - 22:00</p>


    </div>
</div>


<div class="serviços">
    <div class="corte degrade">
        <label for="Corte Degrade">
            <p>Serviço</p>
            <p>Tempo</p>
            <p>Preço</p>
        </label>
    </div>
    <div class="corte degrade 2">
        <label for="Corte Degrade 2"></label>
    </div>
    <div class="barba">
        <label for="preço"></label>
        <p>Serviço</p>
        <p>Tempo</p>
        <p>Preço</p>
    </div>
    <div class="barba 2">
        <label for="Preço 2"></label>
    </div>

</div>