.topo{
    display: flex;
    flex-direction: column ;
    align-items: center;
    height: 25vh;
    width: 100%;
    border: solid 1px #000000;
    background-color: black;


    .Voltar{

        position: absolute;
        left: 0;
        top: 0;
    }

.topo-meio{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 30%;
    padding-bottom: 1px;
    
    border: solid 1px pink;


    .title{
        color: white;
        

    }

    .Aberto{
        margin-top: 30px;
        height: 20px;
        width:150px;
        text-align: center;
        color: FFFFFF;
        padding: 8px;
        border: solid 20px black;
        border-width: 1px;
        background-color: lightgreen;
        
    }
}

}


   

.infos{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 48vh;
    width: calc(100vw - 27px);
    border: solid 1px #ff0000;
    padding: 8px;

    .left{
        height: 75%;
        width: 40%;
        border: solid 1px yellow;
        border-radius: 1rem;

    }
    
    .right{

        height: 100%;
        width: 50%;
        border: solid 1px green;



    }
    
}