.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 17vh;
  width: 100%;
  background-color: var(--black);

  .left {
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding: 0.5rem 0 0 0.5rem;

    .back-btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }

  .center-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;

    h1 {
      text-align: center;
    }

    p {
      font-family: var(--principal-font);
      font-size: var(--principal-font-size);
    }
  }

  .perfil-img {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    height: 115px;
    width: 115px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 20rem;
    }
  }
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 100vw;

  .dtHr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 0 2%;
    row-gap: 4%;

    h3 {
      font-family: var(--principal-font);
      width: max-content;
    }

    .inserts {
      display: flex;
      background-color: var(--black);
      width: max-content;
      padding: 1rem;
      border-radius: 1rem;

      .changes {
        display: flex;
        flex-direction: column;

        .fields {
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 0.5rem;
          }

          input {
            height: 2rem;
            width: 18rem;
            border-radius: 0.25rem;
            margin-bottom: 1rem;
            border: none;
          }
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 0;
    height: 45vh;

    .your {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 15%;
      width: 30vw;
      border-radius: 0.5rem 0.5rem 0 0;
      background-color: var(--green);

      .title {
        font-family: var(--second-font);
        color: var(--bg-princi);
        font-size: var(--largebutton-font-size);
        height: max-content;
      }
    }

    .visu {
      display: flex;
      height: 75%;
      width: calc(100% - 2px);
      border-right: solid 1px #000000;
      border-bottom: solid 1px #000000;
      border-left: solid 1px #000000;
    }
  }
}

.foot{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-start;
  height: 23vh;
  width: 100vw;
  background-color: #3c33c3;

  .continue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    font-family: var(--second-font);
    color: var(--black);
    margin: 0 1rem 1rem 0;

    &:hover{
      cursor: pointer;
    }
  }
}
