<div class="top">
  <div class="left">
    <button class="back-btn" routerLink="/home">Voltar</button>
  </div>
  <div class="center-top">
    <h1>Barbearia do JV</h1>
    <p>Corte degrade</p>
  </div>
  <div class="perfil-img">
    <img src="../../../assets/image 2.png" alt="perfil da barbearia" />
  </div>
</div>
<div class="center">
  <div class="dtHr">
    <h3>AGENDE SEU PROCEDIMENTO</h3>
    <div class="inserts">
      <form class="changes">
        <div class="fields">
          <label>DATA</label>
          <input type="date" />
        </div>
        <div class="fields">
          <label>HORÁRIO</label>
          <input type="time" />
        </div>
      </form>
    </div>
  </div>
  <div class="right">
    <div class="your"><p class="title">Seu agendamento</p></div>
    <div class="visu"></div>
  </div>
</div>
<div class="foot">
  <button class="continue">Continuar</button>
</div>
