<div class="top">
  <div class="left">
    <button class="back-btn" routerLink="/home">Voltar</button>
  </div>
  <div class="center-top">
    <h1 class="nome-shop">Barbearia do JV</h1>
    <p>Corte degrade</p>
  </div>
  <div class="perfil-img">
    <img src="../../../assets/image 2.png" alt="perfil da barbearia" />
  </div>
</div>
<div class="center">
  <div class="dtHr">
    <h3>AGENDE SEU PROCEDIMENTO</h3>
    <div class="inserts">
      <form class="changes">
        <div class="fields">
          <label>DATA</label>
          <input type="date" data="00:00" name="data" />
        </div>
        <div class="fields">
          <label>HORÁRIO</label>
          <input type="time" name="hour" />
        </div>
      </form>
    </div>
  </div>
  <div class="right">
    <div class="your"><p class="title">Seu agendamento</p></div>
    <div class="visu">
      <div class="proc">
        <p class="procedimento">Procedimento</p>
        <p class="proc-nome">Corte APInome</p>
      </div>
      <div class="proc">
        <p class="procedimento">Horário</p>
        <p class="proc-nome">{{ hour }}</p>
      </div>
      <div class="proc">
        <p class="procedimento">Dia</p>
        <p class="proc-nome">{{ data }}</p>
      </div>
    </div>
  </div>
</div>
<div class="foot">
  <button class="continue" (click)="openModal()">Continuar</button>
</div>
