

<!-- #criar um container para parte da página, inserir as divs filhos em cada container -->
<div class="container-1">

  <nav>
    <button class="back">Voltar</button>

</nav>
  <div class="cadastro-principal">
    <div class="cadastro-pessoa">
        <form>
          <div class="input">
            <label for="nome">Nome Proprietário</label>
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="input">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="" />
          </div>
          <div class="input">
            <label for="senha">Senha</label>
            <input type="senha" class="form-control" placeholder="" />
          </div>
          <div class="input">
            <label for="confirmarsenha">Confirmar Senha</label>
            <input type="confirmarsenha" class="form-control" placeholder="" />
          </div>
        </form>
      </div>

      <div class="texto-imagem">
        <div class="montarPerfil">
          <h2 class="text-perfil">Vamos montar <h2 class="text-perfil2">seu perfil</h2> </h2>
  
          <div class="imagem-pessoa">
              <img class="person" src="../../../assets/mdi_person.svg" alt="pessoa">
          </div>
  
        </div>
      </div>
    
</div>


<div class="container-end">
  <div class="fix-end">
    <div class="etapas">
      <div class="circle-1">1</div>
      <div class="circle-2">2</div>
      <div class="circle-3">3</div>

  </div>

  </div>

    <div class="proxima">
      <button class="proxima-etapa">
        <p class="continuar">Continuar</p>
        <img class="seta" src="../../../assets/carbon_next-filled.svg" alt="">
    </button>
    </div>
    

</div>

</div>

<div class="container-2">
   <nav>
    <button class="back">Voltar</button>

</nav>
  <div class="cadastro-principal-2">
    <div class="cadastro-estabelecimento">
        <form>
          <div class="input">
            <label for="nomeestabelecimento">Nome do estabelecimento</label>
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="input">
            <label for="endereço">Endereço</label>
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="input">
            <label for="documentos">CNPJ ou CPF</label>
            <input type="text" class="form-control" placeholder="" />
          </div>
         
        </form>

      </div>
      <div class="adicionarfoto">
        <button class="buttonadicionarfoto">
          <img class="adicionar" src="../../../assets/addbutton.svg" alt="">
        </button>
      </div>

      <div class="texto-imagem-2">
        <div class="definaEstabelecimento">
          <h2 class="text-estabelecimento">Defina seu<h2 class="text-estabelecimento2">estabelecimento</h2> </h2>
  
          <div class="imagem-estabelecimento">
              <img class="person" src="../../../assets/Groupcadastro.svg" alt="pessoa">
          </div>
  
        </div>
      </div>
    
</div>


<div class="container2-end">
  <div class="fix-end">
    <div class="etapas">
      <div class="circle-1">1</div>
      <div class="circle-2">2</div>
      <div class="circle-3">3</div>

  </div>

  </div>

    <div class="proxima">
      <button class="proxima-etapa">
        <p class="continuar">Continuar</p>
        <img class="seta" src="../../../assets/carbon_next-filled.svg" alt="">
    </button>
    </div>
    

</div>
</div>
<!-- <div class="container-3"></div> -->

