<div class="container-1" *ngIf="currentContainer === 1">
  <nav>
    <button class="back" routerLink="">Sair</button>
  </nav>
  <div class="cadastro-principal">
    <div class="cadastro-pessoa">
      <form [formGroup]="step1Form">
        <div class="input">
          <label for="nome">Nome Proprietário</label>
          <input type="text" class="form-control" formControlName="nome" />
          <div
            *ngIf="
              step1Form.get('nome')!.invalid && step1Form.get('nome')!.touched
            "
            class="error"
          >
            Nome é obrigatório
          </div>
        </div>
        <div class="input">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" />
          <div
            *ngIf="
              step1Form.get('email')!.invalid && step1Form.get('email')!.touched
            "
            class="error"
          >
            Email é obrigatório e deve ser válido
          </div>
        </div>
        <div class="input">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" formControlName="senha" />
          <div
            *ngIf="
              step1Form.get('senha')!.invalid && step1Form.get('senha')!.touched
            "
            class="error"
          >
            Senha é obrigatória
          </div>
        </div>
        <div class="input">
          <label for="confirmarsenha">Confirmar Senha</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmarSenha"
          />
          <div
            *ngIf="
              step1Form.get('confirmarSenha')!.invalid &&
              step1Form.get('confirmarSenha')!.touched
            "
            class="error"
          >
            Confirmação de senha é obrigatória
          </div>
          <div
            *ngIf="
              step1Form.errors?.['passwordMismatch'] &&
              step1Form.get('confirmarSenha')!.touched
            "
            class="error"
          >
            As senhas não coincidem
          </div>
        </div>
      </form>
    </div>

    <div class="texto-imagem">
      <div class="montarPerfil">
        <h2 class="text-perfil">
          Vamos montar
          <h2 class="text-perfil2">seu perfil</h2>
        </h2>

        <div class="imagem-pessoa">
          <img
            class="person"
            src="../../../assets/mdi_person.svg"
            alt="pessoa"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container-end">
    <div class="fix-end">
      <div class="etapas">
        <div class="circle-1">1</div>
        <div class="circle-2">2</div>
        <div class="circle-3">3</div>
      </div>
    </div>

    <div class="proxima">
      <button class="proxima-etapa" (click)="next()">
        <p class="continuar">Continuar</p>
        <img class="seta" src="../../../assets/carbon_next-filled.svg" alt="" />
      </button>
    </div>
  </div>
</div>


<div class="container-2" *ngIf="currentContainer === 2">
  <nav>
    <button class="back" routerLink="">Sair</button>
  </nav>
  <div class="cadastro-principal-2">
    <div class="cadastro-estabelecimento">
      <form [formGroup]="step2Form">
        <div class="input">
          <label for="nomeestabelecimento">Nome do estabelecimento</label>
          <input
            type="text"
            class="form-control"
            formControlName="nomeEstabelecimento"
          />
          <div
            *ngIf="
              step2Form.get('nomeEstabelecimento')!.invalid &&
              step2Form.get('nomeEstabelecimento')!.touched
            "
            class="error"
          >
            Nome do estabelecimento é obrigatório
          </div>
        </div>
        <div class="input">
          <label for="endereço">Endereço</label>
          <input type="text" class="form-control" formControlName="endereco" />
          <div
            *ngIf="
              step2Form.get('endereco')!.invalid &&
              step2Form.get('endereco')!.touched
            "
            class="error"
          >
            Endereço é obrigatório
          </div>
        </div>
        <div class="input">
          <label for="documentos">CNPJ ou CPF</label>
          <input
            type="text"
            class="form-control"
            formControlName="documentos"
          />
          <div
            *ngIf="
              step2Form.get('documentos')!.invalid &&
              step2Form.get('documentos')!.touched
            "
            class="error"
          >
            CNPJ ou CPF é obrigatório
          </div>
        </div>
      </form>
    </div>
    <div class="adicionarfoto">
      <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;" />
      <button type="button" class="buttonadicionarfoto" (click)="triggerFileInputClick()">
        <img
          class="adicionar"
          src="../../../assets/addbutton.svg"
          alt="botaoadicionar"
        />
      </button>
      <div *ngIf="!isImageSelected && isFormTouched" class="error">
        Selecione uma imagem.
      </div>
    </div>

    <div class="texto-imagem-2">
      <div class="definaEstabelecimento">
        <h2 class="text-estabelecimento">
          Defina seu
          <h2 class="text-estabelecimento2">estabelecimento</h2>
        </h2>

        <div class="imagem-estabelecimento">
          <img
            class="person"
            src="../../../assets/Groupcadastro.svg"
            alt="lojaimg"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container2-end">
    <div class="voltar">
      <button class="btn-voltar" (click)="back()">Voltar</button>
    </div>

    <div class="fix-end">
      <div class="etapas">
        <div class="circle-1">1</div>
        <div class="circle-2">2</div>
        <div class="circle-3">3</div>
      </div>
    </div>

    <div class="proxima">
      <button class="proxima-etapa" (click)="next()">
        <p class="continuar">Continuar</p>
        <img
          class="seta"
          src="../../../assets/carbon_next-filled.svg"
          alt="botaocontinuar"
        />
      </button>
    </div>
  </div>
</div>

<div class="container-3" *ngIf="currentContainer === 3">
  <nav>
    <button class="back" routerLink="">Sair</button>
  </nav>
  <div class="cadastro-principal-3">
    <div class="cadastro-funcionamento">
      <form [formGroup]="step3Form">
        <div class="input">
          <label for="areaAtuacao">Área de atuação</label>
          <input
            type="text"
            class="form-control"
            formControlName="areaAtuacao"
          />
          <div
            *ngIf="
              step3Form.get('areaAtuacao')!.invalid &&
              step3Form.get('areaAtuacao')!.touched
            "
            class="error"
          >
            Área de atuação é obrigatória
          </div>
        </div>
        <div class="horariosfun">
          <p>Funcionamento</p>
          <div class="Turno">
            <h4>Turno 1</h4>

            <div class="inputs">
              <div class="start">
                <label for="inicioTurno1">Inicio</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="inicioTurno1"
                />
                <div
                  *ngIf="
                    step3Form.get('inicioTurno1')!.invalid &&
                    step3Form.get('inicioTurno1')!.touched
                  "
                  class="error"
                >
                  Início do turno 1 é obrigatório
                </div>
              </div>
              <div class="end">
                <label for="terminoTurno1">Término</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="terminoTurno1"
                />
                <div
                  *ngIf="
                    step3Form.get('terminoTurno1')!.invalid &&
                    step3Form.get('terminoTurno1')!.touched
                  "
                  class="error"
                >
                  Término do turno 1 é obrigatório
                </div>
              </div>
            </div>
            <div class="days">
              <label for="diasTurno1">Dias</label>
              <input
                type="text"
                class="form-control"
                formControlName="diasTurno1"
              />
              <div
                *ngIf="
                  step3Form.get('diasTurno1')!.invalid &&
                  step3Form.get('diasTurno1')!.touched
                "
                class="error"
              >
                Dias do turno 1 são obrigatórios
              </div>
            </div>
          </div>

          <div class="addturno">
            <button class="btn-add">
              <img src=" ../../../assets/addbutton.svg" alt="addbutton" />
              <p>Adicionar turno</p>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="exemploturno">
      <p>Exemplo</p>
      <div class="exemplos">
        <h4>Turno1</h4>
        <div class="demonstrativo">
          <div class="inicioex">
            <label for="inicio">Inicio</label>
            <input
              type="text"
              class="form-control"
              placeholder="     08:00"
              readonly
            />
          </div>
          <div class="terminoex">
            <label for="termino">Término</label>
            <input
              type="text"
              class="form-control"
              placeholder="     13:00"
              readonly
            />
          </div>
        </div>

        <div class="demonstrativo-end">
          <div class="diaex">
            <label for="dias">Dias</label>
            <input
              type="text"
              class="form-control"
              placeholder="          Seg-Sex   "
              readonly
            />
          </div>
        </div>
      </div>
    </div>
    <div class="texto-imagem-3">
      <div class="text-horario">
        <h3 class="text-qualoseuhorario">
          Qual sua área e
          <h3 class="text-qualseuhorario2">horários?</h3>
        </h3>

        <div class="img-duvida">
          <img
            class="duvida"
            src="../../../assets/octicon_question-16.svg"
            alt="horario"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container3-end">
    <div class="voltar">
      <button class="btn-voltar" (click)="back()">Voltar</button>
    </div>

    <div class="fix-end">
      <div class="etapas">
        <div class="circle-1">1</div>
        <div class="circle-2">2</div>
        <div class="circle-3">3</div>
      </div>
    </div>

    <div class="proxima">
      <button class="proxima-etapa" routerLink="">
        <p class="continuar">Continuar</p>
        <img class="seta" src="../../../assets/carbon_next-filled.svg" alt="" />
      </button>
    </div>
  </div>
</div>
