
.container-1{

  height: max-content;
  width: 100%;

  nav {
    height: 100px;
    width: 100%;
    background-color: var(--bg-princi);
  
    .back {
      border: none;
      background-color: var(--bg-princi);
      padding-left: 20px;
      font-family: var(--third-font);
      font-size: var(--third-font-size);
      cursor: pointer;
    }
  }

  .cadastro-principal{

    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-princi);


    .cadastro-pessoa{

    height: max-content;
    width: calc(60% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    .input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
        font-family: var(--fourth-font);
        
        
  
        label {
          padding-left: 10px;
        }
  
        .form-control {
          padding: 10px;
          padding-right: 100px;
          width: 100%;
          border-radius: 4px;
          border-color: lightgray;
          box-shadow: 0 4px 4px 0 #0000003b
  
        }
      }
    }

    .texto-imagem{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: max-content;
      width: 100%;

      .montarPerfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        width: 20%;
  
        .text-perfil{
          height: 156px;
          width: 313px;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: var(--second-font-size);
          font-family: var(--second-font);
          
          .text-perfil2{
            font-size: var(--second-font-size);
            font-family: var(--second-font);
          }
       
    }

      


      }

    }

    }
    

  .container-end{
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;
    width: 100%;
    background-color: var(--bg-princi);


    .fix-end{
      width: 50%;
      display: flex;
      justify-content: flex-end;


      
      .etapas{
        height: fit-content;
        width: 13rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .circle-1{
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--green);
          color: var(--bg-princi);
          font-family: var(--fourth-font);
          font-size: 14px;

        }
        
        .circle-2{
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--gray);
          font-family: var(--fourth-font);
          font-size: 14px;

        }
        
        .circle-3{

          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--gray);
          font-family: var(--fourth-font);
          font-size: 14px;

          
        }


      }

    }
    
    
    .proxima{
      height: max-content;
      width: calc(30% - 0px);
      display: flex;
      justify-content: flex-end;
     


      .proxima-etapa{
        height: 50px;
        width: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid 1px var(--green);
        border-radius: 8px;
        cursor: pointer;
        font-family: var(--second-font);
        font-size: 24px;
  
      }
    }


  }

}
.container-2{

  nav {
    height: 100px;
    width: 100%;
    background-color: var(--bg-princi);
  
    .back {
      border: none;
      background-color: var(--bg-princi);
      padding-left: 20px;
      font-family: var(--third-font);
      font-size: var(--third-font-size);
      cursor: pointer;
    }
  }

  .cadastro-principal-2{

    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-princi);


    .cadastro-estabelecimento{

    height: max-content;
    width: calc(60% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    .input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
        font-family: var(--fourth-font);
        
        
  
        label {
          padding-left: 10px;
        }
  
        .form-control {
          padding: 10px;
          padding-right: 100px;
          width: 100%;
          border-radius: 4px;
          border-color: lightgray;
          box-shadow: 0 4px 4px 0 #0000003b
  
        }
      }
    }


    .adicionarfoto{
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px var(--black);
      border-radius: 20px;
      height: 230px;
      width: 500px;

      .buttonadicionarfoto{
        border: none;
        background-color: var(--bg-princi);
        cursor: pointer;
      }
    

    }

    .texto-imagem-2{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: max-content;
      width: 100%;

      .definaEstabelecimento{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        width: 20%;
  
        .text-estabelecimento{
          height: 156px;
          width: 313px;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: var(--second-font-size);
          font-family: var(--second-font);
          
          .text-estabelecimento2{
            font-size: var(--second-font-size);
            font-family: var(--second-font);
          }
       
    }


      }

    }

    }
    

  .container2-end{
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline ;
    width: 100%;
    background-color: var(--bg-princi);

    .voltar{
      height: max-content;
      width: max-content;

      .btn-voltar{
        border: none;
        background-color: var(--bg-princi);
        font-family: var(--second-font);
        font-size: var(--third-font-size);
        cursor: pointer;

      }
    }


    .fix-end{
      width: 50%;
      display: flex;
      justify-content: flex-end;


      
      .etapas{
        height: fit-content;
        width: 13rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .circle-1{
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--green);
          color: var(--bg-princi);
          font-family: var(--fourth-font);
          font-size: 14px;

        }
        
        .circle-2{
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: var(--bg-princi);
          background-color: var(--green);
          font-family: var(--fourth-font);
          font-size: 14px;

        }
        
        .circle-3{

          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--gray);
          font-family: var(--fourth-font);
          font-size: 14px;

          
        }


      }

    }
    

    .proxima{
      height: max-content;
      width: calc(30% - 0px);
      display: flex;
      justify-content: flex-end;
     


      .proxima-etapa{
        height: 50px;
        width: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid 1px var(--green);
        border-radius: 8px;
        cursor: pointer;
        font-family: var(--second-font);
        font-size: 24px;
  
      }
    }


  }
}


.container-3{

  nav {
    height: 100px;
    width: 100%;
    background-color: var(--bg-princi);
  
    .back {
      border: none;
      background-color: var(--bg-princi);
      padding-left: 20px;
      font-family: var(--third-font);
      font-size: var(--third-font-size);
      cursor: pointer;
    }
  }

  .cadastro-principal-3{

    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-princi);


    .cadastro-funcionamento{

    height: max-content;
    width: calc(20% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fourth-font);


    .input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        gap: 10px;
        
        
        
  
        label {
          padding-left: 10px;
        }
  
        .form-control {
          padding: 10px;
          width: 260px;
          border-radius: 4px;
          background-color: white;
          border-color: lightgray;
          box-shadow: 1px 4px 4px 1px #0000003b
  
        }
      }

      //////////////////////////////////////

      .horariosfun{
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 230px;
        border: solid 1px var(--black);
        border-radius: 8px;

        .Turno{
          height: 150px;
          padding: 5px;
          width: 200px;
          display: flex;
          flex-direction: column;
          border: solid 1px var(--black);
          box-shadow: 0 4px 4px 0 #0000003b;
          border-radius: 8px;

          .inputs {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            font-family: var(--fourth-font);
            
            .start{
              height: 50px;
              width: max-content;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
            }
            .end{
              height: 50px;
              width: max-content;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
            }
      
            .form-control {
              display: flex;
              justify-content: space-between;
              padding: 2px;
              width: 60%;
              border-radius: 4px;
              border-color: lightgray;
              box-shadow: 1px 4px 4px 1px #0000003b
            
      
            }
          }

          .days{
            display: flex;
            flex-direction: column;
            height: max-content;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            font-family: var(--fourth-font);
         

            .form-control {
              
              width: 70%;
              padding: 2px;
              border-radius: 4px;
              border-color: lightgray;
              box-shadow: 1px 4px 4px 1px #0000003b
      
            }
            
          }


        }
        
        .addturno{
          height: max-content;
          width: max-content;

          .btn-add{
            border: none;
            background-color: var(--bg-princi);
            cursor: pointer;

            img{
              height: 45px;
              width: 45px;
              
            }
          }
        }

      }

    }


    .exemploturno{
      height: 180px;
      width: 205px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: var(--fourth-font);
  

      .exemplos{
        height: 160px;
        width: 200px;
        border: solid 1px black;
        border-radius: 8px;
        padding: 2px;
      
      

        .demonstrativo{
          height: 50px;
          width: 100%;
          display: flex ;
          justify-content: space-between;
          align-items: center;

          

        .inicioex{
          height: 50px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        

          .form-control {
              
            width: 70%;
            padding: 2px;
            border-radius: 4px;
            border-color: lightgray;
            box-shadow: 1px 4px 4px 1px #0000003b;
            cursor: default;
    
          }
      
      }


      .terminoex{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50px; 
        
        .form-control {
              
          width: 70%;
          padding: 2px;
          border-radius: 4px;
          border-color: lightgray;
          box-shadow: 1px 4px 4px 1px #0000003b;
          cursor: default;
  
      }
        
      }


    

    }
.demonstrativo-end{
  height: max-content;
  width: 100%;

  .diaex{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;


    .form-control {
              
      width: 70%;
      padding: 2px;
      border-radius: 4px;
      border-color: lightgray;
      box-shadow: 1px 4px 4px 1px #0000003b;
      cursor: default;

  }
  }
}
    
    }
    
       
    }




    .texto-imagem-3{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: max-content;
      width: 30%;

      .text-horario{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        width: 20%;
  
        .text-qualoseuhorario{
          height: 156px;
          width: 330px;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: var(--second-font-size);
          font-family: var(--second-font);
          
          .text-qualoseuhorario2{
            font-size: var(--second-font-size);
            font-family: var(--second-font);
          }
        }
      }
      }

    }

  .container3-end{
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline ;
    width: 100%;
    background-color: var(--bg-princi);

    .voltar{
      height: max-content;
      width: max-content;

      .btn-voltar{
        border: none;
        background-color: var(--bg-princi);
        font-family: var(--second-font);
        font-size: var(--third-font-size);
        cursor: pointer;

      }
    }


    .fix-end{
      width: 50%;
      display: flex;
      justify-content: flex-end;


      
      .etapas{
        height: fit-content;
        width: 13rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .circle-1{
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--green);
          color: var(--bg-princi);
          font-family: var(--fourth-font);
          font-size: 14px;

        }
        
        .circle-2{
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: var(--bg-princi);
          background-color: var(--green);
          font-family: var(--fourth-font);
          font-size: 14px;

        }
        
        .circle-3{

          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: var(--bg-princi);
          background-color: var(--green);
          font-family: var(--fourth-font);
          font-size: 14px;

          
        }


      }

    }
    

    .proxima{
      height: max-content;
      width: calc(30% - 0px);
      display: flex;
      justify-content: flex-end;
     


      .proxima-etapa{
        height: 50px;
        width: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid 1px var(--green);
        border-radius: 8px;
        cursor: pointer;
        font-family: var(--second-font);
        font-size: 24px;
  
      }
    }


  }


.container3-end{
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline ;
    width: 100%;
    background-color: var(--bg-princi);

    .voltar{
      height: max-content;
      width: max-content;

      .btn-voltar{
        border: none;
        background-color: var(--bg-princi);
        font-family: var(--second-font);
        font-size: var(--third-font-size);
        cursor: pointer;

      }
    }


    .fix-end{
      width: 50%;
      display: flex;
      justify-content: flex-end;


      
      .etapas{
        height: fit-content;
        width: 13rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .circle-1{
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: var(--green);
          color: var(--bg-princi);
          font-family: var(--fourth-font);
          font-size: 14px;

        }
        
        .circle-2{
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: var(--bg-princi);
          background-color: var(--green);
          font-family: var(--fourth-font);
          font-size: 14px;

        }
        
        .circle-3{

          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: var(--bg-princi);
          background-color: var(--green);
          font-family: var(--fourth-font);
          font-size: 14px;

          
        }


      }

    }
    

    .proxima{
      height: max-content;
      width: calc(30% - 0px);
      display: flex;
      justify-content: flex-end;
     


      .proxima-etapa{
        height: 50px;
        width: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid 1px var(--green);
        border-radius: 8px;
        cursor: pointer;
        font-family: var(--second-font);
        font-size: 24px;
  
      }
    }


  }


      }

 

  